<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031683475438-0dt3kcpic9vbmd3eh2v4vjfkvkgpv8s0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031683475438-0dt3kcpic9vbmd3eh2v4vjfkvkgpv8s0</string>
	<key>API_KEY</key>
	<string>AIzaSyCnwAxjWklB7xivqevUZ2asBxjMK_TXkCY</string>
	<key>GCM_SENDER_ID</key>
	<string>1031683475438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.MiadAzarmehr.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-2299c</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-2299c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031683475438:ios:bb3ccba892a7ae1045f0ff</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-2299c.firebaseio.com</string>
</dict>
</plist>